.orbit-doc-download-button {
    margin: 0;
    margin-top: 1px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
.orbit-doc-download-button a {
    transition: all 0.25s ease-in-out 0s;
    font-size: 20px;
    line-height: 15px;
    float: centre;
    border-radius: 3px;
    background-color: #FFF;
    padding: 10px;
    color: #646464;
}
.orbit-doc-download-button a:hover, a:focus {
    background-color: #009FE6;
    color: #FFF;
}


